<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHLOX</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <div class="leftBg"></div>
            <div class="rightBg">
                <img src="images/portrait-of-young-architect-woman-on-meeting-KFZCE3A.jpg" alt="immagine">
            </div>
            <div class="containerAbsolute">
                <nav class="navbar">
                    <div class="logoBox">
                        <img src="images/logotype.png" alt="logo image">
                    </div>
                    <div class="linksList">
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">PROJECT</a></li>
                            <li><a href="#">SERVICES</a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="titleBox">
                    <div class="subTitle">
                        <div class="greenBar"></div>
                        <span class="txtSubTitle">ALWAYS THE BEST WAY YOU NEED IT</span>
                    </div>
                    <div class="mainTitle">
                        <h1>THE BEST BUSINESS CONSULTING</h1>
                    </div>
                    <div class="btnBox">
                        <button class="btnStyle">READ MORE</button>
                        <div class="playBox">
                            <i class="fa fa-play"></i>
                         </div>
                    </div>
                </div>
            </div>
        </header> 
        <main>
             <section class="firstSct">
                 <div class="wrapper">
                     <div class="emptySpace"></div>
                     <div class="content">
                         <div class="titleContainer">
                             <h4 class="darkBlue">OUR CONSULTANTS CAN HELP YOU</h4>
                             <div class="greenBar"></div>
                         </div>
                         <div class="cardsContainer">
                             <div class="card">
                                 <div class="roundImgBox">
                                     <div class="redSpot">
                                         <i class="fa fa-line-chart"></i>
                                     </div>
                                 </div>
                                 <div class="textBox">
                                     <h5>STATISTICAL CONSULTING</h5>
                                     <p>When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a</p>
                                 </div>
                             </div>
                             <div class="card">
                                 <div class="roundImgBox">
                                     <div class="redSpot rotate">
                                         <i class="fa fa-bullhorn"></i>
                                     </div>
                                 </div>
                                 <div class="textBox">
                                     <h5>DIGITAL CONSULTING</h5>
                                     <p>When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a</p>
                                 </div>
                             </div>
                             <div class="card">
                                 <div class="roundImgBox">
                                     <div class="redSpot">
                                         <i class="fa fa-credit-card"></i>
                                     </div>
                                 </div>
                                 <div class="textBox">
                                     <h5>BANKING CONSULTING</h5>
                                     <p>When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a</p>
                                 </div>
                             </div>
                             <div class="card">
                                 <div class="roundImgBox">
                                     <div class="redSpot">
                                         <i class="fa fa-bullseye"></i>
                                     </div>
                                 </div>
                                 <div class="textBox">
                                     <h5>ENTERPRISE CONSULTING</h5>
                                     <p>When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </section>
             <section class="secondSct">
                 <div class="wrapper">
                     <div class="bgImageBox">
                         <img src="images/business-people-working-together-on-project-and-5FHSKBL.jpg" alt="random image">
                     </div>
                     <div class="titleBox horSpace">
                         <div class="subTitle">
                             <div class="greenBar"></div>
                             <span class="txtSubTitle">ABOUT US</span>
                         </div>
                         <div class="mainTitle">
                             <h2>WE MAKE YOUR STRATEGY WORK</h2>
                         </div>
                         <p>When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a thousand unknown plants are noticed when I hear the buzz of the little world among the stalks, and grow familiar inderscibable forms of the insects and flies, then I feel the presence of the Almighty.</p>
                     </div>
                 </div>
                 <div class="banner">
                     <div class="titolo">
                         <h3>WE HELP TO DELIVER THE BUSINESS CASE</h3>
                     </div>
                     <div class="testo">
                         <p>When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a thousand unknown</p>
                     </div>
                     <button class="bottoneRosso">GET STARTED</button>
                 </div>
             </section>
             <section class="thirdSct">
                 <div class="container">
                     <div class="wrapVertical">
                         <div class="titleBox customSpace">
                             <div class="subTitle">
                                 <div class="greenBar"></div>
                                 <span class="txtSubTitle">PROJECTS</span>
                             </div>
                             <div class="mainTitle">
                                 <h3>OUR EXPERTS TRUSTED CONSULTANTS HELP CLIENTS</h3>
                             </div>
                         </div>
                         <div class="photosBox">
                             <!--si potrebbero ciclare con vue js-->
                             <div class="photo">
                                 <img src="images/DRY-1-790x592.jpg" alt="random image">
                                 <div class="layover">
                                    <div class="layoverTxt">
                                        <h4>Purinky Products</h4>
                                        <span>uncategorized</span>
                                    </div>
                                    <div class="plusBtn">
                                       <i class="fa fa-plus"></i>
                                    </div>
                                 </div>
                             </div>
                             <div class="photo">
                                 <img src="images/221bf0b7-8134-43bb-936a-5acbe42db64a-790x592.jpg" alt="random image">
                                 <div class="layover">
                                    <div class="layoverTxt">
                                        <h4>Purinky Products</h4>
                                        <span>uncategorized</span>
                                    </div>
                                    <div class="plusBtn">
                                       <i class="fa fa-plus"></i>
                                    </div>
                                 </div>
                             </div>
                             <div class="photo">
                                 <img src="images/z1el4c4p-790x592.jpg" alt="random image">
                                 <div class="layover">
                                    <div class="layoverTxt">
                                        <h4>Purinky Products</h4>
                                        <span>uncategorized</span>
                                    </div>
                                    <div class="plusBtn">
                                       <i class="fa fa-plus"></i>
                                    </div>
                                 </div>
                             </div>
                             <div class="arrowsBox">
                                 <div class="arrowBg">
                                     <i class="fa fa-long-arrow-left"></i>
                                 </div>
                                 <div class="arrowBg">
                                     <i class="fa fa-long-arrow-right"></i>
                                 </div>
                             </div>
                         </div>     
                     </div>
                 </div>
             </section>
             <section class="fourthSct wrapVertical">
                 <div class="container">
                     <div class="titleBox end">
                         <div class="subTitle reverse">
                             <div class="greenBar"></div>
                             <div class="center">
                                 <span class="txtSubTitle">TESTIMONIAL</span>
                             </div>
                         </div>
                         <div class="mainTitle customWidth">
                             <h3>WHAT'S THE CUSTOMER SAY ABOUT OUR WORK</h3>
                         </div>
                     </div>
                 </div>
                <div class="banner white">
                    <div class="bgPhoto">
                        <div class="singlePhoto">
                            <img src="images/oliver-ragfelt-488196-2.jpg" alt="photo">
                            <div class="contentCard">
                                <p class="sizeM">When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a thousand unknown plants are noticed when I hear the buzz of the little.</p>
                                <p class="subject">Vera Duncan</p>
                                <p class="sizeS">Amazon Inc.</p>
                            </div>
                        </div>
                        <div class="singlePhoto">
                            <img src="images/oliver-ragfelt-488196-unsplash.jpg" alt="photo">
                            <div class="contentCard">
                                <p class="sizeM">When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a thousand unknown plants are noticed when I hear the buzz of the little.</p>
                                <p class="subject">Mark Porter</p>
                                <p class="sizeS">Amazon Inc.</p>
                            </div>
                        </div>
                        <div class="singlePhoto">
                            <img src="images/12679.jpg" alt="photo">
                            <div class="contentCard">
                                <p class="sizeM">When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a thousand unknown plants are noticed when I hear the buzz of the little.</p>
                                <p class="subject">Paul Telby</p>
                                <p class="sizeS">Amazon Inc.</p>
                            </div>
                        </div>
                    </div>
                </div> 
             </section>
             <section class="fifthSct">
                 <div class="container">
                     <div class="wrapVertical">
                         <div class="titleBox fullWidth customSpace">
                             <div class="subTitle">
                                 <div class="greenBar"></div>
                                 <span class="txtSubTitle">BLOG</span>
                             </div>
                             <div class="mainTitle customStyle">
                                 <h3>THE RECENT NEWS YOU MUST READ IT</h3>
                                 <div class="btnBox">
                                     <button class="btnStyle black">VIEW ALL</button>
                                 </div>
                             </div>
                         </div>
                         <div class="doubleImgBox">
                             <div class="imgBox">
                                 <img src="images/startup-business-people-and-strategy-board-PAJ3P9K-1390x1042.jpg" alt="random image">
                                 <div class="whiteTxtBox">
                                    <span>July 4, 2019</span>
                                    <span class="name">by Paul</span>
                                    <h4>Canadian Consulting Firm acquired by UK Giant</h4>
                                    <p>When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a</p> 
                                 </div>
                             </div>
                             <div class="imgBox">
                                 <img src="images/business-people-working-together-on-project-and-5FHSKBL-1390.jpg" alt="random image">
                                 <div class="whiteTxtBox">
                                     <span>July 4, 2019</span>
                                     <span class="name">by Paul</span>
                                     <h4>Canadian Consulting Firm acquired by UK Giant</h4>
                                     <p>When, while lovely valley teems with vapour around meand eridian sun strikes the upper impenetrable foliage of my trees, and but a</p> 
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>        
             </section>
             <section class="sixthSct">
                 <div class="bgImgBox">
                     <img src="images/business-people-working-together-on-project-and-B3MZ4TX.jpg" alt="random image">
                     <div class="box wrapVertical">
                         <h3>LET'S TALK ABOUT WORK</h3>
                         <p>A wonderful serenity has taken possession Far far away, behind the word mountains.</p>
                         <div>
                             <button class="btnStyleBlue">GET STARTED</button>
                         </div>
                     </div>
                 </div>
             </section>
        </main>
        <footer>
             <div class="container">
                 <div class="topFooter">
                     <img src="images/logotype-2-300x50.png" alt="logo">
                     <div class="linksList liFooterCustom">
                         <!--per il momento fatta cosi ma poi verra fatta con vue js-->
                         <ul>
                             <li v-for="link in linksList"><a href="#">{{ link.text }}</a></li>
                             <!-- <li><a href="#">ABOUT</a></li>
                             <li><a href="#">PROJECT</a></li>
                             <li><a href="#">SERVICES</a></li>
                             <li><a href="#">BLOG</a></li>
                             <li><a href="#">CONTACT</a></li> -->
                         </ul>
                     </div>
                     <div class="socialLinksList">
                         <ul>
                             <li v-for="social in socialsList"><a href="#"><i class="fa" :class="social.class"></i></a></li>
                             <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                             <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                         </ul>
                     </div>
                 </div>
                 <div class="bottomFooter">
                     <div class="privacy">
                         <a href="#">Terms of use</a>
                         <a href="#">Privacy Environmental Policy</a>
                     </div>
                     <div class="copyright">
                         <a href="#">Copyright &copy; 2020 Phlox Consulting.All Rights Reserved.</a>
                     </div>
                 </div>
             </div>
             <div class="magicBtnBox">
                 <div class="roundBtnUp">
                     <a href="#">
                         <i class="fa fa-long-arrow-up"></i>
                     </a>
                 </div>
                 <div class="question">
                     <i class="fa fa-comment-o"></i>
                 </div>
             </div>
        </footer>
    </div>

    <script src="scripts/data.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>