* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 950px;
    width: 100%;
    margin: auto;
}

.wrapper {
    display: flex;
    padding: 60px 0 80px; 
}