.fifthSct {
    background-color: $darkBlue;
    padding-bottom: ($myPaddingB10 * 20);
}

.fullWidth {
    width: 100%;
}

.customStyle {
    display: flex;
    justify-content: space-between;
}

.black {
    color: $black;
}

.doubleImgBox {
    display: flex;
    justify-content: space-between;
        .imgBox {
            flex-basis: 49%;
            position: relative;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            .whiteTxtBox {
                position: absolute;
                width: 80%;
                background-color: $white;
                padding: ($myPaddingB10 * 2.5) ($myPaddingB10 * 6) ($myPaddingB10 * 3.5);
                bottom: -60px;
                right: 0;
                    span {
                        color: $red;
                    }
                    .name {
                        margin-left: ($myMarginB10 * 3);
                    }
                    h4 {
                        color: $black;
                        margin: ($myMarginB10) 0 ($myMarginB10 * 2); 
                    }
                    p {
                        color: $txtGray;
                        font-size: ($fontSizeB6 * 2);
                    }
            }    
        }
}