.emptySpace {
    flex-grow: 1;
}

.content {
    width: 75%;
}

.titleContainer {
    display: flex;
    align-items: center;
        .darkBlue {
            color: $darkBlue;
        }
        .greenBar {
            flex-grow: 1;
            background-color: $lghWaterGreen;
            height: 3px;
            margin-left: 20px;
        }
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
        .card {
            flex-basis: 50%;
            display: flex;
            padding: 50px 0;
                .roundImgBox {
                    margin-right: 50px;
                        .redSpot {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $red;
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            color: white;
                                i {
                                    font-size: 30px;
                                }
                        }
                        .rotate {
                            i {
                                transform: rotate(-25deg);
                            }
                        }
                }
                .textBox {
                    width: 250px;
                        h4 {
                            color: $darkBlue;
                        }
                        p {
                            color: $txtLightGray;
                        }
                }
        }
}