footer {
    background-color: $darkBlue;
    padding: ($myPaddingB10 * 3) 0 ($myPaddingB10 * 2);
    position: relative;
}

.topFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: ($myPaddingB10 * 5) 0;
    border-bottom: 1px solid $txtDarkGray;
        img {
            width: 100px;
        }
}

.liFooterCustom {
    ul {
        li {
            padding: $myPaddingB10;
            color: $txtDarkGray;
        }
    }
}

.socialLinksList {
    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
            li {
                padding: $myPaddingB10;
                    a {
                        color: $white;
                    }
            }
    }
}

.bottomFooter {
    display: flex;
    justify-content: space-between;
    padding: ($myPaddingB10 * 3) 0;
        .privacy {
            display: flex;
            flex-direction: column;
            font-size: ($fontSizeB6 * 2);
                a {
                    text-decoration: none;
                    color: $txtDarkGray;
                }
        }
        .copyright {
            display: flex;
            align-items: center;
            font-size: ($fontSizeB6 * 2);
                a {
                    text-decoration: none;
                    color: $txtDarkGray;
                }
        }
}

.magicBtnBox {
    position: fixed;
    bottom: 50px;
    right: 95px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        .roundBtnUp {
            background-color: $white;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            text-align: center;
                a {
                    i {
                        font-size: ($fontSizeB6 * 2);
                    }
                }
        }
        .question {
            background-color: $blue;
            border-radius: 50%;
            padding: ($myPaddingB5 * 3);
                i {
                    font-size: ($fontSizeB10 * 2);
                    color: $white;
                }
        }
}