.fourthSct {
    background-color: #1F1E38;
    align-items: flex-end;
  }
  .end {
    width: 100%;
    align-items: flex-end;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .center {
    margin-right: 585px;
  }
  .customWidth {
    width: 325px;
  }
  .white {
    background-color: white;
  }