header {
    position: relative;
    display: flex;
    justify-content: center;
        .leftBg {
           width: 35%;
           height: 610px;
           background-color: $darkBlue; 
        }
        .rightBg {
            width: 65%;
                img {
                    width: 100%;
                    height: 610px;
                    object-fit: cover;
                    object-position: 10% 25%;
                }
        }
}

.containerAbsolute {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 950px;
}

.titleBox {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 50px 0;
        .subTitle {
            display: flex;
            align-items: flex-end;
                .greenBar {
                    width: 30px;
                    height: 3px;
                    margin-right: 15px;
                    background-color: $waterGreen;
                }
                .txtSubTitle {
                    font-size: 10px;
                    color: $white;
                }
        }
        .mainTitle {
            margin: 10px 0 20px 0;
                h1 {
                    font-size: 46px;
                    line-height: 40px;
                    color: $white;
                }
        }
        .btnBox {
            display: flex;
            align-items: flex-end;
                .btnStyle {
                    padding: 10px 20px;
                    background-color: $lghWaterGreen;
                    color: $txtDarkGray;
                    border: none;
                    font-size: 10px;
                        &:hover {
                            background-color: $red;
                            color: $white;
                            border: 3px solid $darkBlue; 
                        }
                }
                .playBox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 15px;
                    padding: 10px;
                    border: 1px solid $white;
                    border-radius: 50%;
                        i {
                            font-size: 8px;
                            color: $lghWaterGreen;
                        }
                }
        }
}