header {
    position: relative;
    display: flex;
    justify-content: center;
        .leftBg {
           width: 35%;
           height: 610px;
           background-color: $darkBlue; 
        }
        .rightBg {
            width: 65%;
                img {
                    width: 100%;
                    height: 610px;
                    object-fit: cover;
                    object-position: 10% 25%;
                }
        }
}

.containerAbsolute {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 950px;
}

.titleBox {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: ($myPaddingB10 * 5) 0;
        .subTitle {
            display: flex;
            align-items: flex-end;
                .greenBar {
                    width: 30px;
                    height: 3px;
                    margin-right: ($myMarginB5 * 3);
                    background-color: $waterGreen;
                }
                .txtSubTitle {
                    font-size: ($fontSizeB6 * 2);
                    color: $white;
                }
        }
        .mainTitle {
            margin: ($myMarginB10) 0 ($myMarginB5 * 5) 0;
                h1 {
                    color: $white;
                }
        }
        .btnBox {
            display: flex;
            align-items: flex-end;
                .btnStyle {
                    padding: ($myPaddingB10 + 2px) ($myPaddingB10 * 3);
                    background-color: $lghWaterGreen;
                    color: $blackE6;
                    border: none;
                    font-size: $fontSizeB10;
                        &:hover {
                            background-color: $red;
                            color: $white;
                            border: 3px solid $darkBlue; 
                        }
                }
                .playBox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: ($myMarginB5 * 3);
                    padding: $myPaddingB10;
                    border: 1px solid $white;
                    border-radius: 50%;
                        i {
                            font-size: ($fontSizeB10 - 2px);
                            color: $lghWaterGreen;
                        }
                }
        }
}