.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: ($myMarginB10 * 10);
}

.logoBox {
    display: flex;
    width: 10%;
        img {
            width: 100%;
            object-fit: contain;
        }
}

.linksList {
    ul {
        list-style: none;
        display: flex;
            li {
                padding: ($myPaddingB10 * 2) ($myPaddingB5 * 3) 0 $myPaddingB5;
                    a {
                        text-decoration: none;
                        color: $whiteB0;
                        font-size: ($fontSizeB10 + 2px);
                    }
            }
    }
}