.bgImgBox {
    display: flex;
    width: 100%;
    position: relative;
        img {
            width: 100%;
        }
        .box {
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
                p {
                    color: $whiteB3;
                    font-size: ($fontSizeB6 * 2);
                    width: 250px;
                    text-align: center;
                }
                .btnStyleBlue {
                    border: none;
                    padding: ($myPaddingB10 * 2) ($myPaddingB10 * 3);
                    background-color: $darkBlue;
                    color: $whiteCC;
                    margin-top: ($myMarginB10 * 3);
                }
        }
}