.bgImgBox {
    display: flex;
    width: 100%;
    position: relative;
        img {
            width: 100%;
        }
        .box {
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
}