/*bg colors*/
$white: #FFFFFF;
$white1A: #FFFFFF1A;
$white80: #FFFFFF80;
$waterGreen: #39FFBF;
$lghWaterGreen: #35FFBF;
$blue: #527CEB;
$darkBlue: #1F1E38;
$red: #F81D39;
$darkRed: #F00E2E;
$gray: #3D3D3D;
$darkGray: #333333;
$blackB3: #000000B3;
$blackE6: #000000E6;
/*text colors*/
$whiteB0: #FFFFFFB0;
$white99: #FFFFFF99;
$whiteB3: #FFFFFFB3;
$whiteCC: #FFFFFFCC;
$white66: #FFFFFF66;
$txtGray: #818A91;
$txtLightGray: #AAAAAA;
$txtDarkGray: #888888;
$txtDarkerGray: #444444;
$darkerBlueB3: #1F1E38B3;
$darkerBlue80: #1F1E3880;
$darkerBlue99: #1F1E3899;
$black: #000000;
$lightBlue: #1BB0CE;
/*border colors*/
$white26: #FFFFFF26;